@use 'variables.scss' as *;
@import '~bootstrap/scss/bootstrap';

.logo_scr img{
    max-height:130px;
}
.purple{
    color:$purple;
}
.darkpurple{
    color:$darkpurple;
}
#navbarSupportedContent a{
    text-decoration: none;
    color:$purple;
    transition:all 0.3s ease-in;
    &:hover{
        color:white;
        background-color: $pink;
        border-radius:1.3rem;
        font-weight:500;

    }
}

.active{
    background-color: white;
    color:$purple;
    font-weight: 500;;
    padding:8px 65% 8px 32px;
    border-radius:1.2rem;
}

nav.navbar{
    width:100vw;
    height: 110px;
    .container{
        display:flex;
        justify-content: space-between;
        height:100%;
        width:100%;
        margin:0;
        padding:32px 32px 32px 16px;

    }

}
aside{
    padding: 30px 20px;
    width:170px;
    background-color: $purple;
    height:calc(100vh - 110px);
    position:fixed;
    bottom:0;
    left:0;
    ul{
        list-style: none;
        padding:0;
        margin:0;

    }
    a{
        text-decoration: none;
        color:$pink;
        padding:4px 8px;
        border-top-left-radius:1.3rem;
        border-bottom-left-radius:1.3rem;
        transition:all 0.3s ease-in;
        &:hover{
            color:$pink;
            // border-top-left-radius:1.3rem;
            // border-bottom-left-radius:1.3rem;
            font-weight:500;

        }
    }
}

main{
    height: calc(100vh - 110px);
}

.content-container{
    width:calc(100vw - 170px);
    position:fixed;
    flex-shrink: 2;
    left:170px;
    bottom:0;
    height:calc(100vh - 110px);
    overflow-y: auto;;
    margin:0;
    padding:30px 40px;
    h2{
        color:$purple;
    }
    #product-img{
        max-height:250px;
        max-width:100%;
        object-fit: contain;
    }
    .intestazione>a{
        color:$darkpurple;
        text-decoration: none;
        font-weight:500;
        transition:all .3s ease-in-out; padding:4px 16px;

        &:hover{
            color:white;
            background-color: $pink;
            border-radius:1.3rem;



        }
    }
    // .row.flex-wrap.justify-content-between{
    //     padding-left: 4.5rem;
    // }
}

.card.dc-card{
    margin:1rem;
    width:18%;
    min-width:230px;
    position:relative;
    img{
        object-fit: cover;
        width:100%;
        height:350px;
    }
    span.badge{
        position:absolute;
        top:16px;
        right:16px;
        box-shadow: 2px 2px 4px rgb(99, 57, 97);
    }

}

.dc-card-show{
    margin:0 auto;
    width:60%;
    border-radius:0.8rem;
    height:70vh;
    box-shadow: 4px 4px 6px rgba(99, 57, 97,0.4);
    img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-top-left-radius: 0.8rem;;
        border-bottom-left-radius: 0.8rem;;
    }
    span.badge{
        position:absolute;
        top: 20px;
        left:20px;
        font-size:1.2rem;
        box-shadow: 2px 2px 4px rgb(99, 57, 97);
    }

}
